---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {%- for page in collections.all %}
        {# Loại trừ các trang không cần thiết, ví dụ như trang test #}
        {%- if not page.data.eleventyExcludeFromCollections and page.url != '/test-page/' %}
            <url>
                {# 
                  SỬA LỖI Ở ĐÂY: Chúng ta viết thẳng URL gốc vào.
                  Eleventy vẫn sẽ xử lý {{ page.url | url }} để thêm /english-sharing-project/
                #}
                <loc>https://katavnnn.github.io{{ page.url | url }}</loc>
                <lastmod>{{ page.date.toISOString() }}</lastmod>
                <priority>{{ page.data.priority or 0.8 }}</priority>
            </url>
        {%- endif %}
    {%- endfor %}
</urlset>