---
layout: layouts/test-layout.njk
title: Trang Kiểm Tra
---

<h2>DÒNG NÀY TỪ FILE TEST-PAGE.NJK</h2>
<p>Nếu bạn thấy dòng này bên trong hộp màu đỏ, điều đó có nghĩa là cơ chế layout cơ bản của Eleventy đang hoạt động.</p>