<!DOCTYPE html>
<html lang="vi" class="dark">
<head>
    {% include "head.njk" %}
</head>
<body class="antialiased text-gray-800 dark:text-white transition-colors duration-500 aurora-dark">
    
    {{ content | safe }}

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="{{ '/assets/js/main.js' | url }}" type="module"></script>
</body>
</html>